# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cs text diff=csharp
*.xaml text
*.csproj text
*.sln text

# Documentation
*.md text
*.txt text

# Binary files
*.dll binary
*.exe binary
*.db binary
*.xlsx binary
*.pdf binary
*.png binary
*.jpg binary
*.ico binary
